<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="methods" thread-count="4"
          name="/Users/thameera/Documents/Devstack/Automation/TestNG_25B3/src/test/java/SampleTestNGTest.java">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoke"/>-->
<!--&lt;!&ndash;                <exclude name="regression"/>&ndash;&gt;-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
<!--&lt;!&ndash;            To Execute Entire class&ndash;&gt;-->
<!--            <class name="SampleTestNGTest"/>-->

<!--&lt;!&ndash;            To Execute Specific Methods&ndash;&gt;-->
<!--            <class name="annotations.TestNGAnnotationTest">-->
<!--                <methods>-->
<!--                    <exclude name="testMethod1"/>-->
<!--                    <include name="testMethod2"/>-->
<!--                    <exclude name="testMethod3"/>-->
<!--                    <include name="testMethod4"/>-->
<!--                </methods>-->
<!--            </class>-->

<!--&lt;!&ndash;            To execute Groups&ndash;&gt;-->
<!--            <class name="groups.TestNGGroupTest"/>-->

            <class name="parallel.ParallelExeTest"/>
        </classes>
    </test>
</suite>