<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/thameera/Documents/Devstack/Automation/TestNG_25B3/src/test/java/SampleTestNGTest.java">
        <classes>
            <class name="annotations.TestNGAnnotationTest">
                <methods>
                    <exclude name="testMethod1"/>
                    <include name="testMethod2"/>
                    <exclude name="testMethod3"/>
                    <include name="testMethod4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>